.App {
  text-align: center;
}
header {
  background-color: azure;
  width: 100%;
  height: 100px;
}

main {
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
}

img {
  width: 100%;
}

.products-main-productcontainer {
  width: 210px;
  padding: 10px;
  margin: 15px;
  border: 1px solid #eee;
}

.products-main-link {
  text-decoration: none;
  color: #666;
}

.products-main-link:hover {
  border: 1px solid #666;
} 

.product-main-container {
  width: 800px;
}

.product-left-container {
  float: left;
  width: 200px;
}

.product-right-container {
  width: 600px;

}

.product-image {
  width: 100%;
  margin-right: 5px;
}